<div class="container-md my-2">
    <h3 class="alert alert-secondary fw-semibold fs-5 text-center">Details of {{ form.name.value }}</h3>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in student_form %}
            <div class="my-2">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
                {% for error in field.errors %}
                    <div class="fs-6 text-danger">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="row my-2">
            <div class="my-2 col col-12 col-sm-6">
                <button type="submit" class="btn btn-primary w-100">Update Student</button>
            </div>
            <div class="my-2 col col-12 col-sm-6">
                <a href="{% url 'enrollment_delete' student_id %}" class="btn btn-outline-danger w-100">Delete Student</a>
            </div>
        </div>
    </form>
</div>