<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Student CRUD
        {% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/core.css' %}">
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block scripts %}
    <script href="{% static 'core/js/popper.min.js' %}"></script>
    <script href="{% static 'core/js/bootstrap.min.js' %}"></script>
    <script href="{% static 'core/js/core.js' %}"></script>
{% endblock %}
</body>
</html>